<md-card>
  <md-card-content>
    <md-card>
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Setup new service</h2>
        </div>
      </md-toolbar>
      <md-content layout-padding layout="row" layout-sm="column">
        <md-input-container>
          <label>Service Endpoint</label>
          <input ng-model="user.title">
        </md-input-container>
        <md-switch ng-model="data.cb1" aria-label="Switch 1">
          <label>
            Monitoring Enabled
          </label>
        </md-switch>
      </md-content>


  </md-card-content>
</md-card>
