<div >
  <md-card style="margin-top: 40px">
    <md-toolbar class="md-primary">
      <div class="md-toolbar-tools">
        <h2 class="md-flex">Current Users</h2>
      </div>
    </md-toolbar>
    <div ng-show="loading" layout="row" layout-align="center center" layout-margin style=" height: 100px;">
      <md-progress-circular class="md-hue-2" md-mode="indeterminate"></md-progress-circular>
    </div>
    <md-content layout-wrap layout-gt-md="row" layout="column" class="md-hue-1">
      <md-card flex="40" ng-repeat="user in currentUsers">
        <md-content flex  layout="row">
          <div >
            <img class="circle-image" ng-src="{{user.picture.thumbnail}}" class="md-avatar"/>
          </div>
          <md-list-item flex class="md-2-line" layout="row" layout-align="start center">
            <div class="md-list-item-text">
              <h4 class="md-padding">{{user.name.first + ' ' + user.name.last | uppercase}}</h4>
              <h5 class="md-padding">Developer</h5>
            </div>
          </md-list-item>
          <md-switch flex ng-model="user.active" class="md-primary" aria-label="Active/Disabled">
            <label ng-show="user.active">Active</label>
            <label ng-hide="user.active">Disabled</label>
          </md-switch>
        </md-content>
        </md-card>
      </md-content>
    </md-card>
  </div>
