<md-card>
  <md-card-content>
    <md-card>
      <md-toolbar class="md-primary">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">Current Users</h2>
        </div>
      </md-toolbar>
      <md-content class="md-primary " layout-wrap layout-margin layout-fill layout-padding layout="row" layout-sm="column" layout-md="column">
        <md-content ng-repeat="user in currentUsers" flex="40" layout="row">
          <div>
            <img class="circle-image" ng-src="{{user.picture.thumbnail}}" class="md-avatar" />
          </div>
          <md-list-item flex  class="md-2-line">
            <div class="md-list-item-text">
              <h4 class="md-padding">{{user.name.first + ' ' + user.name.last}}</h4>
              <h5 class="md-padding">Developer</h5>
            </div>
          </md-list-item>
        </md-content>
      </md-content>


  </md-card-content>
</md-card>
