<md-card>
  <md-card-content>
    <md-card>
      <md-toolbar class="md-warn">
        <div class="md-toolbar-tools">
          <h2 class="md-flex">System Alerts</h2>
        </div>
      </md-toolbar>
      <md-content layout-padding layout="row" layout-sm="column">
        <md-switch class="md-warn" ng-model="data.cbFreeze" aria-label="Freeze Switch">
          <label>
            Freeze Display
          </label>
        </md-switch>
        <md-input-container>
          <label>Filter</label>
          <input ng-model="data.filter">
        </md-input-container>
      </md-content>
      <md-content md-theme="docs-dark" layout-padding layout="row" layout-sm="column">
        <md-list>
          <md-list-item layout="row" layout-align="start center" ng-repeat="alert in alerts">
            <span>
            <md-icon md-svg-icon="assets/img/icons/ic_error_24px.svg" style="color:red"
                     ng-show="alert.type==='error'"></md-icon>
            <md-icon md-svg-icon="assets/img/icons/ic_warning_24px.svg" style="color:darkorange"
                     ng-show="alert.type==='warning'"></md-icon>
              </span>
            <md-subheader ><strong>{{alert.ts}}</strong> {{alert.description}}</md-subheader>
          </md-list-item>
        </md-list>
      </md-content>
  </md-card-content>
</md-card>
