@import 'variables.css';

@import '../../components/normalize-css/normalize.css';
@import "../../components/angular-material/angular-material.css";
@import "../../app/components/top-bar/top-bar.css";
@import"../../app/components/side-menu/side-menu.css";
@import"../../app/components/dashboard/dashboard.css";
@import 'shared/base.css';
@import"../../app/components/dashboard/settings/user-settings.css";
@import"../../app-compiled/components/dashboard/alerts/alerts.css";
